body{
   // height: 9000px;
}
.bug{
    position: absolute;
    left:10px;
    background-size: cover;
    background: url("../img/iconMenu.png") no-repeat center;
   width:50px;
    height:40px;
}
.entrada{

    width: 100%;
    height: calc(100vh);
    background: url("../img/entrada2.jpg") center fixed no-repeat;
    background-size: cover  ;
}
a {
    text-decoration: none;

}
a:visited{
    text-decoration: none;
    color: white;
}
#caixa-botao{

    position: absolute;
    left: 50%;
    bottom: calc(5%);



}
#botao-scroll{
    width: 35px;
    height: 35px;
    transform:rotate(45deg);
    background: url("../img/arrow.gif")  white no-repeat center;
    background-size: contain;
    border: 0 solid;

}

.flex{
    height: 100%;

    display: flex;
    flex-direction: column;
     justify-content: center;
}

header{
    display: flex;
    width: 100%;
    height: 50px;


    justify-content: flex-end;
    align-items: center;


}
.barra-preta{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    background:transparent;
    z-index: 10;

}
.nav-bar{
    font-family: 'Rajdhani', sans-serif;
    position: fixed;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
   // background: green;
    z-index: 100;


}

.barra-menu{
    color: white;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    align-content:flex-end;

}
.entrada-nomes{
    flex-shrink: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    animation: anima 2s;
   // background: gray;

}
@keyframes anima {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}
.nome-atos{

    font-size: 5rem;
    font-family: 'Rajdhani', sans-serif;
    color: white;

}
.nome-engenheiro{
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}
#id-projetos{
    height: 50px;
}
.container-reduzido{

    width: 70%;
    height: 400px;
    margin: 20px auto;
   //background: gray;

}

.sobre-mim-titulo{

    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;

    font-size: 35px;
    font-family: 'Rajdhani', sans-serif;
    padding-top: 20px;
   //background: pink;
    //padding-bottom: 20px;
}
.container-sobre-mim{
    display: flex;
    opacity: 0;
    width: 100%;
    height: 90%;
    align-items: center;
    //background: red;
    margin: 0 auto;
    justify-content: space-between;
}
.caixas-sobre{
    text-align: left;
    width: 30%;
    height: 70%;
   // background: green;
    opacity: 0;
}
.container-blocos{
    display: flex;
    justify-content: space-between;

}
#caixa-principal-sobre{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}
.autor{
    display: flex;
    align-items: center;
    justify-content:left;
    width: 120px;
    height: 50px;

    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
    color: gray;

}
.barra-imagem{
    display: flex;
   align-items: center;

    font-family: 'Exo 2', sans-serif;
    color: white;
    font-size: 2.5vw;
    margin:30px 0 ;
    width: 100%;
    height: 450px;
    background: url("../img/1234.jpg") fixed left;
    background-size: cover;
}
.espaço-frase{
    display: flex;
    align-items: center;
    justify-content:right ;
    width: 80%;
    height: 80%;
    //background: green;
margin: 0 auto;

}

.citacao-texto{
    flex-wrap: wrap;
    text-align: center;

}
.logo-quote{
    width: 5%;
    height: 60%;
    background: url("../img/quotes.png")  no-repeat top;
    background-size: contain;
}
.autor2{
    display: flex;
    justify-content: flex-end;
    height: 80px;
    width: 90%;
    align-items: center;
    //background: red;
}
.tecnolgias{
    display: flex;
    width: 90%;
    height: 500px;

    margin: 0 auto;


}
.container-tecnologias{

    display: flex;


   // justify-content: space-between;
    align-items: center;
    //background: green;
    height: 200px;

}
.tecnologias-logo{
    display: flex;
    width: 100px;
    height: 100px;
    background: red;
    margin: auto;
    align-items: center;
   justify-content: space-around;
}
#div-html{
    background: url("../img/iconeHTML.svg") transparent center no-repeat ;
    background-size: cover;


}
#div-css{
    background: url("../img/iconeCSS.svg") transparent center no-repeat ;
    background-size: cover;

}
#div-js{
    background: url("../img/iconeJS.svg") transparent center no-repeat ;
    background-size: cover;

}
#div-git{
    background: url("../img/iconeGIT.svg") transparent center no-repeat ;
    background-size: cover;

}
#div-github{
    background: url("../img/iconeGITHUB.svg") transparent center no-repeat ;
    background-size: cover;

}
#div-java{
    background: url("../img/iconeJAVA.svg") transparent center no-repeat ;
    background-size: cover;

}
#div-spring{
    background: url("../img/iconeSPRING.svg") transparent center no-repeat ;
    background-size: cover;

}
.tecnologias-animation-class{
    animation: tecnologias-animacao 1s forwards;

}
@keyframes tecnologias-animacao {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 100;
    }
}
#fale-comigo{
    background:rgb(238, 238, 238);, 1;
   // margin-top: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;

     align-items: center;
    height: 350px;

    //background:red ;
   // height: 300px;

}
.fale-comigo-titulo{

    margin-bottom: 80px;
    font-size: 35px;
    font-family: 'Rajdhani', sans-serif;
    //padding-top: 20px;
//background: pink;
//padding-bottom: 20px;
}
.itens-contato{

   // margin: 10px auto;
    width: 80%;
    height: 100px;
    background: green;
   // margin-bottom: 10px;

}
input{
    border: 1px solid gray;
    padding: 2px 3px;
}

textarea{

}
#mensagem-caixa{
    padding: 9px 9px;
    flex-wrap: wrap;
}
.div-do-botao{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /*height: 20px;*/
    /*background: blue;*/
}
.enviar{
    margin: 5px 0;
    width: 100px;
    height: 30px;
    border: 0 solid;
    background: black;
    color: white;
}
::-webkit-input-placeholder { /* Edge */
    color: #0f0e17;
}


.enviar:hover{
    animation: anima-botao 0.3s forwards;

}
@keyframes anima-botao {
    to {
        background: gray;
        transform: scale(1.02);
    }
}

.fale-comigo-areas{
    display: flex;
    height: 82px;
    width: 100%;
   // background: yellow;
    justify-content: center;

}
.duas-caixas{
    margin-right: 5px;
    display: flex;
    height: auto;
    flex-direction: column;
    //background: gray;
    justify-content: space-between;

    width: 20%;
}
.caixa-contato{align-items: center;

   margin: auto 0;
    width: 20%;
    height: 80px;
   // background: blue;

}


.texto-entradas-linhas{
height: 34px;
    margin-bottom: 3px;

width: 98%;

}
.mensagem {
    margin-left: 5px;
    width:94%;
    resize: horizontal;
    height: 62px;
}















footer{
    color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    background:#0f0e17;
    justify-content: space-between;

}
.footers{
    display: flex;
    justify-content:space-around;
    align-items:center ;
    //background: pink;
    height: 20%;
}
.footer-nome{
    font-family: 'Lobster', cursive;
}
.footer-redes{
    margin: 20px auto;
    align-items: center;
    width: 30%;
    //height: 40%;
    display: flex;
    justify-content: space-around;
}
.redes{
    width: 5%;
   height: 100%;
    background: black;
}
.last-footer{
    display: flex;
    justify-content: center;
    height: 40px;
    background: black;
    color: white;
    align-items: center;
}
#linkedin{
    background: url("../img/icons-rodape/linkedin.png") no-repeat center;
    background-size: cover;
}